#content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background: linear-gradient(45deg, #42a5f5 0%, #478ed1 50%, #0d47a1 100%);
}

.temperature {
  margin-bottom: 40px;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: whitesmoke;
}

button {
  font-family: "Inconsolata", monospace;
  height: 24px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  background: none;
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;

}

button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.value1,
.value2 {
  background: white;
  border-radius: 4px;
  border: 1px solid #0277bd;
  height: 18px;

}

.unit1,
.unit2 {
  color: #004d40;
  background: #e8eaf6;
  border-radius: 4px;
  border: 1px solid #0277bd;
  height: 22px;
}
